.rc-slider-track {
  background-color: #636efa;
}

.rc-slider-dot-active {  
  border-color: #636efa;
  border: solid 1px #636efa;
}

.rc-slider-handle {
  background-color: #636efa;
  border-color: #636efa;
}

.rc-slider-handle:hover {
  border-color: #636efa;
}

.rc-slider-handle-active:active {
  border-color: #636efa;
}

