@media screen and (min-height: 769px) {
  .responsive-text {
    font-size: medium;
  }

  .slider-desc{
    font-size: medium;
  }

  .badge.responsive-badges{
    font-size: small;
  }

  .badge.responsive-badges2{
    font-size: 17px;
  }

  .responsive-title{
    font-size: 17px;
  }

}

@media screen and (max-height: 768px) {
  .responsive-text {
    font-size: 11px;
  }

  .slider-desc{
    font-size: 11.5px;
  }

  .badge.responsive-badges{
    font-size: 10px;
  }

  .badge.responsive-badges2{
    font-size: 12px;
  }

  .responsive-title{
    font-size: 12px;
  }
}

.rc-slider-track {
  background-color: #636efa;
}

.rc-slider-dot-active {  
  border-color: #636efa;
  border: solid 1px #636efa;
}

.rc-slider-handle {
  background-color: #636efa;
  border-color: #636efa;
}

.rc-slider-handle:hover {
  border-color: #636efa;
}

.rc-slider-handle-active:active {
  border-color: #636efa;
}

